@{
    ViewData["Title"] = "Main Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager Menu</h2>

<ul>
    <li> <a asp-area="" asp-action="MovieReport">Movie Report</a></li>
    <li> <a asp-area="" asp-action="RevenueReport">Revenue Report</a></li>
    <li>@Html.ActionLink("Log out", "LoginForm", "AccountUser")</li>
</ul>

