@model List<UAMovie.Models.TicketOrder>

@{
    ViewData["Title"] = "Revenue Report";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<TicketOrder> orders = Model;
    orders.Sort();

    List<String> months = new List<string>();
    List<Double> revenue = new List<double>();

    months.Insert(0, orders.First().Month);
    revenue.Insert(0, 0.0);
    foreach (TicketOrder order in orders)
    {

        String month = order.Month;
        if (month == months.First())
        {
            double currRev = revenue.First();
            revenue.RemoveAt(0);
            revenue.Insert(0, currRev + order.Cost);
        }
        else
        {
            months.Insert(0, order.Month);
            revenue.Insert(0, order.Cost);
        }
    }

    int x = 3;
}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <td>Month</td>
            <td>Revenue</td>
        </tr>
    </thead>

    @{

        for (int i = months.Count - 3; i < months.Count; ++i)
        {
            <tr>
                <td>@months[i]</td>
                <td>@String.Format("{0:C2}", revenue[i])</td>
            </tr>
        }
    }
</table>

<p>Go <a asp-area="" asp-action="Index">back</a></p>

