
@{
    ViewData["Title"] = "Revenue Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <td>Month</td>
            <td>Revenue</td>
        </tr>
    </thead>

    @{
        String[] Months = { "August", "September", "November" };
        float[] Revenue = { 2000.42f, 342.6f, 98.99f };

        for (int i = 0; i < Months.Length; ++i)
        {
            <tr>
                <td>@Months[i]</td>
                <td>@String.Format("{0:C2}", Revenue[i])</td>
            </tr>
        }
    }
</table>

<p>Go <a asp-area="" asp-action="Index">back</a></p>

