@model UAMovie.Models.AccountUser;
@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li><a asp-area="" asp-action="NowPlaying">Now Playing</a></li>
    <li><a asp-area="" asp-action="OrderHistory">Order History</a></li>

    <li>
      @Html.ActionLink("My Payment Info", "PaymentInfo", "CreditCardAccountUserViewModel",
        new { username = Model.Username })
    </li>

    <li><a asp-area="" asp-action="PreferredTheater">My Preferred Theaters</a></li>
</ul>
<p>@Html.ActionLink("Log out", "LoginForm", "AccountUser")</p>
