@model UAMovie.Models.ViewModels.MovieAccountUserViewModel
@{
    ViewData["Title"] = "NowPlaying";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Now Playing</h2>
<table>
    @{
        //String[] movies = { "Detective Pikachu", "Venom", "The Grinch" };
        <tr><th>Title</th></tr>

        foreach (Movie movie in Model.movies)
        {
            {<tr><td>@movie.Name</td></tr>}
        }
    }
</table>


