@model UAMovie.Models.ViewModels.MovieAccountUserViewModel
@{
    ViewData["Title"] = "NowPlaying";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Now Playing</h2>
<table>
    @{
        <tr><th>Title</th></tr>
        @Html.HiddenFor(model => model.user.Username);
        foreach (Movie movie in Model.movies)
        {
            {<tr><td>@Html.ActionLink(movie.Name,"GetMovie","MovieAccountUserViewModel",new { userName = Model.user.Username, movieName = movie.Name })</td></tr>}

        }
    }
</table>
<p>@Html.ActionLink("My Account", "Me", "Customer", new { user = Model.user })</p>


