
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Movie m = new Movie();
    m.Name = "The Rise and Fall of Ben Jones";
    m.AgeRating = "G";
    m.ReleaseDate = "August 22, 2016";
    m.Synopsis = "Benjamin strives to find his way in a world where algorithms aren't all we need for computing.";
    m.Price = 100.0f;
    m.Duration = 480;
    m.Genre = "Romantic Comedy";

    int hours = m.Duration / 60;
    int minutes = m.Duration % 60;
    String length = String.Format("{0} hours and {1} minutes", hours, minutes);

    int numRatings = 1000000;
    float avgRating = 4.9f;

    String[] actors = { "Ben Jones", "Elena", "Ethan Mines", "Aaron Tharsius" };
    String[] roles = { "Ben Jones", "Elena", "Dr. John Lusth", "Dr. Shane Sharpe" };

}

<h2>@m.Name</h2>
<p>@m.Synopsis</p>

<table>
    <thead>
        <tr>
            <th colspan="2">Cast</th>
        </tr>
        <tr>
            <th>Actor</th>
            <th>Role</th>
        </tr>
    
        @{ 
            for (int i = 0; i < actors.Length; ++i)
            {
                <tr>
                    <td>@actors[i]</td>
                    <td>@roles[i]</td>
                </tr>
            }
        }
    </thead>
</table>

Back to <a asp-area="" asp-action="Info">info</a>
